@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.drop {
  animation: drop 2s ease-in-out forwards;
}

@keyframes drop {
  0% {
    top: var(--start);
  }

  70% {
    top: calc(100vh - 40px);
  }

  80% {
    top: calc(100vh - 70px);
  }

  90% {
    top: calc(100vh - 40px);
  }

  95% {
    top: calc(100vh - 55px);
  }

  100% {
    top: calc(100vh - 40px);
  }
}